.wrap {
    font-family: cursive;
}

.bg-cover {
    background-position: center;
    background-size: cover;
    min-height: 712px;
}


.footer-icon {
    height: 40px;
    width: 40px;
    color: #fff;
}

.circliful {	
    position: relative;
 }

// .circle-text, .circle-info, .circle-text-half, .circle-info-half {	
//     width: 100%;
//     position: absolute;	
//     text-align: center;
//     display: inline-block;
// }
// .circle-info, .circle-info-half { 
//     color: #999;
// }
// .circliful .fa {
//     margin: -10px 3px 0 3px;	
//     position: relative;
//     bottom: 4px;
// }

.work-content {
    margin-bottom: 50px;
}

.click-lick {
    transition: 3s;
}

#work1, #work2, #work3, #work4 {
    font-family: Arial;
}


.img-border {
    position: relative;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #fff;
}

.foot-img {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}